.ais-relevancyWidget {
  position: relative;
}

.ais-relevancyWidget ul {
  display:none;
  position: absolute;
  list-style: none;
  color: #fff;
  background: #383838;
  padding: 8px;
  border-radius: 3px;
  margin: 0;
  letter-spacing: 0.05em;
  z-index: 2;
  top: 16px;
  left: 0;
}

.ais-relevancyWidget span {
  cursor: pointer;
  font-size: 16px;
}

.ais-relevancyWidget span:hover + ul, .ais-relevancyWidget ul:hover {
  display: block;
}
